@import "../breakpoints/breakpoints";
// @import url(//db.onlinewebfonts.com/c/5a7f8e143dbda0b26952bc287ad05cc4?family=Monument+Extended+Light);
@font-face {
  font-family: "monument_extendedregular";
  font-display: auto;
  src: url("../fonts/monument-webfont.woff2") format("woff2"),
    url("../fonts/monument-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    // color: red;
    background: yellow;
    z-index: -1;
  }
}
html,
body {
  cursor: none;
}
html {
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  // overflow: scroll;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-display: auto;
}

body {
  width: 100vw;
  // width: 100%;
  // height: 100%;
  // overflow-y: scroll;
  // overflow-x: none;

  background-image: url(../icons/bg.png); //Webp file format not yet supported on ios
  // background-repeat: no-repeat;
  // background-color: blueviolet;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  // mix-blend-mode: overlay;
  transition: all 150ms ease;
  transition-property: opacity, background-color, transform, mix-blend-mode;
}
.cursor--inner {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: rgb(255, 0, 0);
}
.cursor--hidden {
  opacity: 0;
}
.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: rgb(255, 0, 0);
}
.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(1.1);
  background-color: rgba(255, 0, 0, 0.356);
}

.container {
  max-width: 1440px;
  width: 100%;

  // background: red;
  margin: 0 auto;
}

h1 {
  font-family: "monument_extendedregular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-display: auto;
  font-size: 14.4rem;
  // -webkit-backface-visibility: hidden;
}
h2 {
  font-family: "monument_extendedregular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-display: auto;
  // -webkit-backface-visibility: hidden;
}

body #magicPointer {
  z-index: 11 !important;
  background: red;
  // mix-blend-mode: difference;
  height: 10px;
  width: 10px;
}
body #magicMouseCursor {
  border: 2px solid red;
  z-index: 11 !important;
  // mix-blend-mode: difference;
}
