.about_para {
  margin-top: 5rem;
  max-width: 50%;
  font-size: 2rem;

  // text-transform: lowercase;
  // background-color: red;
}
.amper {
  height: 20rem;
  position: absolute;
  bottom: -60%;
  right: 30%;
  // transform: translateY(-50%);
  z-index: 1;
  font-size: 80rem;
  opacity: 1;
  mix-blend-mode: overlay;
  animation: spin 8s cubic-bezier(0.87, 0.32, 0, 0.39) infinite forwards;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about_para2 {
  @extend .about_para;
  margin-bottom: 10rem;
  color: black;
}
.line_wrap {
  overflow: hidden;
  height: 170px;
}
.aboutBody {
  height: auto;
}
.gridContainer {
  margin: 8rem 0;
  .skillsTitle {
    font-weight: 600;
    color: red;
    font-size: 1.8rem;
    padding-bottom: 2rem;
  }
}
.wrapper {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(5, 250px);
  .skill {
    height: 100px;
    display: flex;
    align-items: center;
    // background-color: rgba(191, 191, 191, 0.449);
    border: 2px solid rgba(0, 0, 0, 0.313);
    padding: 1rem 1.5rem;
    margin: 1rem;
    // color: white;
    // background: red;
    &:nth-child(1) {
      margin-left: 0;
    }
    &:nth-child(6) {
      margin-left: 0;
    }
    &:nth-child(11) {
      margin-left: 0;
    }
    &:nth-child(16) {
      margin-left: 0;
    }

    img {
      transition: all 0.3s ease-in-out;
    }
    &:hover img {
      transform: rotate(-5deg) scale(1.1);
      + p {
        color: red;
      }
    }
    p {
      // color: red;
      font-weight: 600;
      margin-left: 1.2rem;
      font-size: 1.6rem;
    }
  }
}
