@import "../breakpoints/breakpoints";
.aboutBody {
  height: auto;
  padding: 3rem;
  @include media("<=smTablet") {
    padding: 2rem;
  }
}
.about_para {
  margin-top: 5rem;
  max-width: 50%;
  font-size: 2rem;
  @include media("<=laptop") {
    max-width: 100%;
  }
  // text-transform: lowercase;
  // background-color: red;
}
.amper {
  height: 20rem;
  position: absolute;
  bottom: -60%;
  right: 30%;
  // transform: translateY(-50%);
  z-index: 1;
  font-size: 80rem;
  opacity: 1;
  mix-blend-mode: overlay;
  animation: spin 8s cubic-bezier(0.87, 0.32, 0, 0.39) infinite forwards;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about_para2 {
  @extend .about_para;
  margin-bottom: 10rem;
  color: black;
}
.line_wrap {
  overflow: hidden;
  height: 170px;

  @include media("<=laptop") {
    height: 120px;
  }
  @include media("<=smTablet") {
    height: 190px;
  }
  @include media("<=smTablet2") {
    height: 180px;
  }
  @include media("<=lgPhone") {
    height: 160px;
  }
}
.heading {
  margin-top: 15rem;
  @include media("<=smTablet") {
    margin-top: 10rem;
  }
}
.line1 {
  line-height: 1;
  @include media("<=laptop") {
    font-size: 8.8rem;
  }
  @include media("<=tablet") {
    font-size: 8.4rem;
  }
  @include media("<=lgPhone") {
    font-size: 7rem;
  }
}

.gridContainer {
  margin: 8rem 0;
  .skillsTitle {
    font-weight: 600;
    color: red;
    font-size: 1.8rem;
    padding-bottom: 2rem;
  }
}
.wrapper {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  @include media("<=laptop") {
    grid-template-columns: repeat(auto-fit, minmax(70px, 0.5fr));
  }
  .skill {
    height: 100px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.313);
    padding: 1rem 1.5rem;
    margin: 1rem;
    @include media("<=laptop") {
      border: none;
      padding: 0;
      margin: 0;
    }

    img {
      transition: all 0.3s ease-in-out;
    }
    &:hover img {
      transform: rotate(-5deg) scale(1.1);
      + p {
        color: red;
      }
    }
    p {
      font-weight: 600;
      margin-left: 1.2rem;
      font-size: 1.6rem;
      @include media("<=laptop") {
        display: none;
      }
    }
  }
}
