@import "../breakpoints/breakpoints";
.contactBody {
  height: auto;
  padding: 3rem;
  @include media("<=smTablet") {
    padding: 2rem;
  }
}
.contact_para {
  margin-top: 6rem;
  max-width: 50%;
  font-size: 1.8rem;
}
.heading {
  margin-top: 20rem;
  @include media("<=smTablet") {
    margin-top: 12.5rem;
  }
}
.social_links {
  padding-top: 1rem;
  list-style: none;
  font-size: 1.8rem;
  a {
    color: black;
    text-decoration: none;
    li {
      margin-top: 0.875rem;
    }
    &:hover {
      color: red;
    }
  }
}

.line_wrap {
  overflow: hidden;
  height: 144px;
  @include media("<=tablet") {
    height: 120px;
  }
  @include media("<=tablet") {
    height: 100px;
  }
  @include media("<=lgPhone") {
    height: 70px;
  }
  @include media("<=phone") {
    height: 60px;
  }
}
.line1 {
  @include media("<=tablet") {
    font-size: 11rem;
  }
  @include media("<=smTablet") {
    font-size: 8.2rem;
  }
  @include media("<=lgPhone") {
    font-size: 6.5rem;
  }
  @include media("<=phone") {
    font-size: 5.5rem;
  }
}
.line2 {
  @include media("<=tablet") {
    font-size: 11rem;
  }
  @include media("<=smTablet") {
    font-size: 8.2rem;
  }
  @include media("<=lgPhone") {
    font-size: 6.5rem;
  }
  @include media("<=phone") {
    font-size: 5.5rem;
  }
}
.sub_line_wrap {
  overflow: hidden;
  height: 50px;
  @include media("<=phone") {
    height: 40px;
  }
}
.sub_line1,
.sub_line2 {
  @include media("<=phone") {
    font-size: 3rem;
  }
}

form {
  // margin-left: 2rem;
  margin-top: 20rem;
  @include media("<=laptop") {
    width: 100%;
  }
  @include media("<=smTablet2") {
    width: 100%;
  }
  @include media("<=smTablet") {
    width: 100%;
  }
  @include media("<=xlPhone") {
    margin-top: 10rem;
  }
}
.formWrapper {
  width: 600px;
  margin-bottom: 1rem;
  @include media("<=laptop") {
    width: 100%;
  }
  @include media("<=smTablet2") {
    max-width: 100%;
  }
}
label {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  // color: red;
  font-weight: bold;
}
.inputs {
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 1.2rem 1rem;
  outline: none;
  border: 2px solid black;
  font-size: 1.6rem;
}
.inputs::placeholder {
  font-size: 1.6rem;
}
textArea {
  font-size: 1.6rem;
  padding: 1rem;
  border: 2px solid black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  resize: none;
  &:focus {
    outline: none;
  }
  // background: rgb(255, 232, 232);
}
textarea::placeholder {
  font-size: 1.6rem;
}
.button {
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: white;
  background: red;
  border: 2px solid red;
  outline: none;
  cursor: pointer;
  transition: color 0.2s, background 0.2s, border 0.2s ease-in-out;
  &:hover {
    color: red;
    background: none;
    border: 2px solid red;
  }
  &:focus {
    outline: none;
  }
  margin-top: 2rem;
}
