.header {
  // color: red;
  height: 10vh;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.logo {
  text-decoration: none;
  color: black;
}
.nav {
  display: flex;

  li {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-left: 5rem;
    list-style: none;
    // cursor: pointer;
    transition: color 0.2s ease-in-out;
    color: black;

    &:hover {
      color: red !important;
    }
  }
}
.navItem {
  text-decoration: none;
  color: black;
}
.activeNavItem {
  color: red;
}
