@import "../breakpoints/breakpoints";
.header_wrap {
  min-height: 10vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  background: white;
  margin: auto;
  box-shadow: 0px 2px 13px -8px rgba(0, 0, 0, 0.171);
  z-index: 10;
}
.header {
  // color: red;
  height: 10vh;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  padding: 3rem;
  // @include media("<=desktop") {
  //   max-width: 1024px;
  // }
  @include media("<=laptop") {
    max-width: 768px;
  }
  @include media("<=smTablet") {
    padding: 2rem;
  }
}
.logo {
  text-decoration: none;
  color: black;
  height: 30px;
}
.nav {
  display: flex;

  li {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-left: 5rem;
    list-style: none;
    // cursor: pointer;
    transition: color 0.2s ease-in-out;
    color: black;

    &:hover a {
      color: rgb(255, 82, 82);
    }
  }
  @include media("<=ham") {
    display: none;
  }
}
.ham {
  display: none;
  font-size: 2.4rem;
  cursor: pointer;
  @include media("<=ham") {
    display: flex;
  }
}
.navItem {
  text-decoration: none;
  color: black;
}
.activeNavItem {
  color: red;
}
