@import "../breakpoints/breakpoints";
.header_wrap {
  height: 10vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  background: white;
  margin: auto;
  box-shadow: 0px 2px 13px -8px rgba(0, 0, 0, 0.171);
  z-index: 10;
}
.header {
  // color: red;
  height: 10vh;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  padding: 3rem;
  // @include media("<=desktop") {
  //   max-width: 1024px;
  // }
  @include media("<=laptop") {
    max-width: 768px;
  }
  @include media("<=smTablet") {
    padding: 2rem;
  }
}
.logo {
  text-decoration: none;
  color: black;
  height: 30px;
}
.nav {
  display: flex;

  li {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-left: 5rem;
    list-style: none;
    // cursor: pointer;
    transition: color 0.1s ease-in-out;
    color: black;

    &:hover a {
      color: rgb(255, 0, 0);
    }
  }
  @include media("<=ham") {
    display: none;
  }
}
// nav {
//   position: absolute;
//   width: 50vw;
//   top: 10vh;
//   bottom: 0;
//   left: 50%;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   background: white;
// }
.navBg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
  position: absolute;
  top: 10vh;
  left: 50%;
  bottom: 0;
  z-index: 8;
  background: black;
  // transform: translateX(100%);
  // box-shadow: 0px 4px 7px -2px rgba(0, 0, 0, 0.56);
}
.openNav {
  // background: green;
  // top: 30%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  // justify-content: center;
  height: auto;
  // width: 100vw;
  margin: auto;
  // background: red;
  li {
    margin: 2rem auto;
    list-style: none;
    a {
      font-size: 2.4rem;
    }
  }
  z-index: 9;
  position: absolute;
}
.ham {
  display: none;
  font-size: 2.4rem;
  cursor: pointer;
  @include media("<=ham") {
    display: flex;
  }
}
.navItem {
  text-decoration: none;
  color: black;
  @include media("<=ham") {
    color: white;
  }
}
.activeNavItem {
  color: red;
}
