@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import "../breakpoints/breakpoints";
@font-face {
  font-family: "monument_extendedregular";
  font-display: auto;
  src: url("../fonts/monument-webfont.woff2") format("woff2"),
    url("../fonts/monument-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: "bask";
//   src: url(../fonts/bask.ttf);
// }
// @import "../breakpoints/breakpoints";
// .workBody {
//   height: auto;
//   padding: 3rem;
//   @include media("<=smTablet") {
//     padding: 2rem;
//   }
// }
.heading {
  margin-top: 10rem;
  @include media("<=smTablet") {
    margin-top: 7.5rem;
  }
}
.container {
  // padding: 3rem;
  max-width: 1440px;
  width: 100%;
  //   flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: auto;
  //   justify-content: center;
  //   background: red;
  margin: 0 auto;
}
.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 0;
  @include media("<=smTablet") {
    padding: 2rem 2rem 0;
  }
}
.desc {
  margin-top: 3rem;
  // transform: translateX(50%);
  display: flex;
  img {
    height: 130px;
    width: 130px;
    @include media("<=xlPhone") {
      height: 100px;
      width: 100px;
    }
    @include media("<=phone") {
      height: 80px;
      width: 80px;
    }
  }
  .heroPara {
    align-self: flex-end;
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    @include media("<=xlPhone") {
      font-size: 1.6rem;
    }
  }
}
.desc_wrap {
  overflow: hidden;
  height: 180px;
}

.amper {
  height: 20rem;
  position: absolute;
  bottom: 10%;
  right: -7.5%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 80rem;
  opacity: 1;
  mix-blend-mode: overlay;
  animation: spin 8s cubic-bezier(0.87, 0.32, 0, 0.39) infinite forwards;
}
// cubic-bezier(0, 1.95, 1, -1.49)
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
.preloadBg {
  height: 100vh;
  min-width: 100vw;

  // margin: 1em calc(50% - 50vw);
  // transform: translateX(-24rem);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  text-align: center;
}
.blinds {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  // display: none; //
}
.blind {
  height: auto;
  width: 100%;
  background: black;
}
.preloader {
  position: absolute;
  height: 180px;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  z-index: 10000;

  animation: spinLoader 2.8s cubic-bezier(0.87, 0.32, 0, 0.39) 1 forwards;
}
.arrow {
  i {
    transition: all 0.2s ease-in;
    transform: translateX(-20px);
  }
}
.textReveal {
  position: absolute;
  top: 110px;
  right: 0;
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 3rem;
  // height: 40px;
  // width: 50px;
  line-height: 1;
  padding: 3rem 0;
  // border: 2px solid red;
  border-radius: 50%;
  text-align: right;
  text-transform: uppercase;
  // transform: rotate(-90deg);
  &:hover {
    animation-play-state: paused;
  }
  &:hover ~ .sideWrap {
    // display: flex;
    visibility: visible;
    opacity: 1;
    // transform: translate(0, 0);
  }
  &:hover .arrow {
    i {
      transform: translateX(-5px);
    }
  }
  @include media("<=tablet") {
    display: none;
  }
  // animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite
  // alternate-reverse;
  animation-delay: 2s;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
.sideWrap {
  // display: none;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  max-width: 100%;
  right: 0;
  top: 160px;
  transform: translateY(60px);
  @include media("<=smDesktop") {
    transform: translateY(0px);
  }
  @include media("<=tablet") {
    display: none;
  }
  transition: all 0.3s ease-in-out;

  // transform: translateX(720px);
  // background: green;
  &:hover {
    // display: flex;
    visibility: visible;
    opacity: 1;
    // transform: translateX(0);
  }
  &:hover .arrow {
    i {
      transform: translateX(-5px);
    }
  }
}
.side {
  transition: all 0.5s ease-in-out;
  // position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 550px;
  height: 550px;
  h1 {
    span {
      font-size: 1.6rem;
      line-height: 0.5;
      @include media("<=ham") {
        font-size: 1.6rem;
      }
    }
  }
  @include media("<=smDesktop") {
    width: 400px;
    height: 400px;
  }

  // left: 58%;
  // bottom: 20%;
  // border-radius: 10%;
  padding: 5rem;
  // transform: translateY(50%);
  // transform: rotateY(180deg);
  background-position: center;
  background: linear-gradient(
      0deg,
      rgba(87, 0, 0, 0.486) 0%,
      rgba(71, 71, 71, 0.404) 100%
    ),
    url(../icons/ExcursionIG.jpg);
  filter: saturate(0);
  background-size: cover;
  transition: all 0.5s ease-in-out;
  &:hover h1,
  &:hover a {
    transform: translateY(-10px);
    // background-size: 80rem;
  }

  h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-display: auto;
    font-size: 3rem;
    text-align: center;
    color: white;
    transition: all 0.5s ease-in-out;

    a {
      color: white;
    }
  }
}
.intro {
  line-height: 14.5rem;
  letter-spacing: 0.8rem;

  // .intro.span::selection {
  //   background: rgb(0, 0, 0);
  // }
}

.line_wrap {
  overflow: hidden;
  height: 160px;
  @include media("<=laptop") {
    height: 150px;
  }
  @include media("<=tablet") {
    height: 140px;
  }
  @include media("<=smTablet") {
    height: 100px;
  }
  @include media("<=xlPhone") {
    height: 82px;
  }
  @include media("<=lgPhone") {
    height: 68px;
  }
  @include media("<=phone") {
    height: 55px;
  }
}
.line {
  font-family: "monument_extendedregular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-display: auto;
  @include media("<=laptop") {
    font-size: 13rem;
  }
  @include media("<=tablet") {
    font-size: 11rem;
  }
  @include media("<=smTablet") {
    font-size: 9rem;
  }
  @include media("<=xlPhone") {
    font-size: 7.2rem;
  }
  @include media("<=lgPhone") {
    font-size: 5.8rem;
  }
  @include media("<=phone") {
    font-size: 4.5rem;
  }
}
