@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import "../breakpoints/breakpoints";
@font-face {
  font-family: "bask";
  src: url(../fonts/bask.ttf);
}
.container {
  max-width: 1440px;
  width: 100%;
  //   flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 100vh;
  //   justify-content: center;
  //   background: red;
  margin: 0 auto;
}
.inner {
  display: flex;
  flex-direction: column;
}
.desc {
  margin-top: 5rem;
  // transform: translateX(50%);
  display: flex;
  .heroPara {
    align-self: flex-end;
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
  }
}
.desc_wrap {
  overflow: hidden;
  height: 180px;
}

.amper {
  height: 20rem;
  position: absolute;
  bottom: 10%;
  right: -7.5%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 80rem;
  opacity: 1;
  mix-blend-mode: overlay;
  animation: spin 8s cubic-bezier(0.87, 0.32, 0, 0.39) infinite forwards;
}
// cubic-bezier(0, 1.95, 1, -1.49)
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
.preloadBg {
  height: 100vh;
  min-width: 100vw;

  // margin: 1em calc(50% - 50vw);
  // transform: translateX(-24rem);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1000;
  overflow: hidden;
  text-align: center;
}
.blinds {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.blind {
  height: auto;
  width: 100%;
  background: black;
}
.preloader {
  position: absolute;
  height: 200px;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  z-index: 10000;

  animation: spinLoader 2.8s cubic-bezier(0.87, 0.32, 0, 0.39) 1 forwards;
}
.arrow {
  i {
    transition: all 0.2s ease-in;
    transform: translateX(-20px);
  }
}
.textReveal {
  position: absolute;
  top: 110px;
  right: 0;
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  // height: 40px;
  // width: 50px;
  line-height: 1;
  padding: 3rem 0;
  // border: 2px solid red;
  border-radius: 50%;
  text-align: right;
  text-transform: uppercase;
  // transform: rotate(-90deg);
  &:hover {
    animation-play-state: paused;
  }
  &:hover ~ .sideWrap {
    // display: flex;
    visibility: visible;
    opacity: 1;
    // transform: translate(0, 0);
  }
  &:hover .arrow {
    i {
      transform: translateX(-5px);
    }
  }
  // animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite
  // alternate-reverse;
  animation-delay: 2s;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
.sideWrap {
  // display: none;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  // transform: translateX(720px);
  // background: green;
  &:hover {
    // display: flex;
    visibility: visible;
    opacity: 1;
    // transform: translateX(0);
  }
  &:hover .arrow {
    i {
      transform: translateX(-5px);
    }
  }
}
.side {
  transition: all 0.5s ease-in-out;
  // position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 600px;
  height: 600px;
  // left: 58%;
  // bottom: 20%;
  // border-radius: 10%;
  padding: 5rem;
  // transform: rotateY(180deg);
  background-position: center;
  background: linear-gradient(
      0deg,
      rgba(87, 0, 0, 0.486) 0%,
      rgba(71, 71, 71, 0.404) 100%
    ),
    url(../icons/ExcursionIG.jpg);
  filter: saturate(0);
  background-size: cover;
  transition: all 0.5s ease-in-out;
  &:hover h1,
  &:hover a {
    transform: translateY(-10px);
    // background-size: 80rem;
  }

  h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3rem;
    text-align: center;
    color: white;
    transition: all 0.5s ease-in-out;

    a {
      color: white;
    }
  }
}
.intro {
  line-height: 14.5rem;
  letter-spacing: 0.8rem;

  // .intro.span::selection {
  //   background: rgb(0, 0, 0);
  // }
}

.line_wrap {
  overflow: hidden;
  height: 144px;
}
