@font-face {
  font-family: "bask";
  src: url(../fonts/bask.ttf);
}
.container {
  max-width: 1440px;
  width: 100%;
  //   flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100vh;
  //   justify-content: center;
  //   background: red;
  margin: 0 auto;
}
.desc {
  margin-top: 5rem;
  // transform: translateX(50%);
  display: flex;
  p {
    align-self: flex-end;
    margin-left: 1rem;
  }
}
.desc_wrap {
  overflow: hidden;
  height: 180px;
}
p {
  text-transform: uppercase;
  font-size: 2rem;
}
.amper {
  height: 20rem;
  position: absolute;
  top: 25%;
  right: 45%;
  transform: translateY(-50%);
  z-index: -1;
  font-size: 80rem;
  opacity: 0.6;
  animation: spin 8s cubic-bezier(0.87, 0.32, 0, 0.39) infinite forwards;
}
// cubic-bezier(0, 1.95, 1, -1.49)
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.intro {
  line-height: 14.5rem;
  letter-spacing: 0.8rem;

  // .intro.span::selection {
  //   background: rgb(0, 0, 0);
  // }
}

.line_wrap {
  overflow: hidden;
  height: 144px;
}
