@import "../breakpoints/breakpoints";
.workBody {
  height: auto;
  padding: 3rem;
  @include media("<=smTablet") {
    padding: 2rem;
  }
}
.about_para {
  margin-top: 5rem;
  max-width: 50%;
  font-size: 1.6rem;
  @include media("<=laptop") {
    max-width: 100%;
  }
}
.heading {
  margin-top: 15rem;
  @include media("<=smTablet") {
    margin-top: 10rem;
  }
}
.line_wrap {
  overflow: hidden;
  height: 200px;
  @include media("<=laptop") {
    height: 120px;
  }
  @include media("<=smTablet2") {
    height: 230px;
  }
  @include media("<=lgPhone") {
    height: 190px;
  }
}
.line1 {
  @include media("<=laptop") {
    font-size: 8.8rem;
  }
  @include media("<=lgPhone") {
    font-size: 7rem;
  }
}
.gridContainer {
  margin-top: 5rem;
}
.grid {
  display: grid;
  width: 100%;
  margin: 0 auto;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  grid-gap: 5rem;
  // @include media("<=desktop") {
  //   width: fit-content;
  // }
  @include media("<=smTablet") {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.card {
  // z-index: -1;

  margin-top: 8rem;
  // margin: 8rem 3rem 3rem;
  height: auto;
  padding-bottom: 2rem;
  // width: 680px;
  position: relative;
  // margin: auto;
  // background-color: rgb(0, 0, 0);
  // border: 2px solid black;
  // padding: 2rem;
  background: none;
  // margin: 10rem auto;
  transition: color 4s ease-in-out;
  @include media("<=desktop") {
    max-width: 100%;
  }
  &:hover .num {
    color: red;
    // transform: translateY(-10px);
  }
  .num {
    position: absolute;
    left: 10px;
    top: -60px;
    font-size: 10rem;
    -webkit-text-stroke: 1px red;
    color: transparent;
    transition: color 0.2s ease-in-out;
  }
  &__inner {
    height: 100%;
    width: 100%;

    // padding: 2rem;
    .inner__thumbnail {
      cursor: pointer;
      height: 350px;
      width: 100%;
      // &:hover img {
      //   height: 120%;
      //   width: 120%;
      // }

      img {
        transition: all 0.5s ease-in-out;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .inner__desc {
      font-size: 1.8rem;
      letter-spacing: 2px;
      padding: 2rem 0rem 0;
      font-size: 600;
      color: red;
      display: flex;
      text-transform: uppercase;
      @include media("<=smTablet") {
        font-size: 1.6rem;
        flex-direction: column;
      }
      &__left {
        flex: 1;
      }
      .projectTitle {
        color: black;
        text-transform: uppercase;
        line-height: 1;
        font-size: 4rem;
        margin-bottom: 1rem;
        @include media("<=smTablet") {
          font-size: 3rem;
        }
      }
      &__right {
        flex: 1;
        color: black;
        text-align: right;
        @include media("<=smTablet") {
          text-align: left;
        }
        .summary {
          letter-spacing: normal;
          text-transform: none;
          font-size: 1.4rem;
          @include media("<=smTablet") {
            margin-top: 1.6rem;
          }
        }
      }
    }
    .buttons {
      float: right;
      @include media("<=smTablet") {
        float: left;
      }
      display: flex;
      .projButton {
        cursor: pointer;
        background: none;
        outline: none;
        border: 2px solid black;
        margin-top: 2rem;
        padding: 1rem;
        margin-left: 2rem;
        text-transform: uppercase;
        overflow: hidden;
        text-decoration: none;
        color: black;
        font-size: 1.6rem;
        letter-spacing: normal;
        transition: color 0.2s, background 0.2s, border 0.2s ease-in-out;
        @include media("<=smTablet") {
          font-size: 1.4rem;
          text-align: center;
          margin-left: 0;
          margin-right: 2rem;
        }
        &:hover {
          background: black;
          color: white;
        }
      }
    }
  }
}
