@import "../breakpoints/breakpoints";
// .app {
//   visibility: hidden;
// }
.container {
  max-width: 1440px;
  width: 100%;
  height: -webkit-fill-available;

  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  // background: red;
  margin: 0 auto;
  // @include media("<=desktop") {
  //   max-width: 1024px;
  // }
  @include media("<=smDesktop") {
    max-width: 1082px;
  }
  @include media("<=laptop") {
    max-width: 768px;
  }
}
.content {
  flex: 2;
}
